@charset "utf-8";
/* CSS Document */

body,div,form,ul,ol,li,span,p,dl,dt,dd,img,h1,h2,h3,h4,h5,h6,table,tr,td,input,textarea{margin:0 auto;padding:0;background:#FFF;font:12px '黑体';}
ul,ol,li{list-style:none}

/*头部*/
.tools_index{ width:720px; height:1130px; background-color:#eeeff3;}
.tools_bar{ background-color:#242a3a; width:auto; height:96px;}
.tools_bar h2 {
	width:417px; 
	height:71px; 
	font-size:42px; 
	color:#FFF; 
	background-color:#242a3a;
	float:left; 
	text-align:left; 
	padding:25px 0 0 25px;
}
.tools_bar img { width:auto; height:96px; float:left;}

/*中间主体部分*/
.tools_content li{ 
	width:560px; 
	height:179px; 
	border-bottom:#dcdcdc solid 1px; 
	padding-left:160px; 
	text-align:left; 
}
.tools_content li p { padding:30px 0 25px 0; font-size:40px;}
.tools_content li span { color:#929292; font-size:30px;}
.tools_content a { text-decoration:none; color:black;}
.exchange_rate,.deposit,.mortgage{ background-repeat:no-repeat;}
.exchange_rate{ background-image:url(../images/icons_1.jpg);}
.deposit{ background-image:url(../images/icons_2.jpg);}
.mortgage{ background-image:url(../images/icons_3.jpg);}

.under_text{ 
	background-color:#eeeff3;
	color:#cbccd0; 
	font-size:25px; 
	padding-top:30px; 
	text-align:center;
}

/*汇率转换页面样式*/
.usd,.rmb{ background-repeat:no-repeat;}
.usd{ background-image:url(../images/usd.jpg);}
.rmb { background-image:url(../images/rmb.jpg)}
.usd_txt,.rmb_txt { 
	float:right; 
	margin:58px 75px 0 0; 
	height:60px; 
	width:445px; 
	border:0;
	font-size:40px;
	background-image:url(../images/reset_button.jpg);
	background-repeat:no-repeat;
	background-position:right;
	
}
